#container {
    position:relative;
}
#container > img,
#container > canvas {
    position:absolute;
    left:0;
    top:0;
}
<<<<<<< Updated upstream
.navbar-btn {
    margin-left: 30px;
}
=======

#test {
    padding-top: 5%;
}
>>>>>>> Stashed changes
